@import "compass/css3";
/* greens darkest to lightest */
$green1: #007f60;
$green2: #00b286;
$green3: #00cc99;
$green4: #4cffd2;

/* gray darkest to lightest */
$gray1: #262728;
$gray2: #343d41;
$gray3: #697074;
$gray4: #b5bdc1;
$gray5: #DEE1E6;

/* blue darkest to lightest */
$blue1: #105a7f;
$blue2: #3197ca;
$blue3: #4bb8ef;
$blue4: #7ad3ff;

/* widths */
$maxWidth: 1350px;
$defaultTopPadding: 15px;
$defaultPadding: 25px;

.phone {
	display:none;
}

.desktop {
    display: none !important;
}

.tablet {
	display:block ;
}

#serach-row{
	height:40px;
	.search-box{
	}
}

.drop-down-mobile{
	position: absolute;
	display:none;
	left:0;
	right:0;
	top:50px;
	width:100%;
	@include border-radius(5px, 5px);

	li{
		border-bottom:1px solid $gray4;
		padding:10px;
		text-align: center;
		a{
			color:$gray4;
			font-size: 13px;
			text-decoration: none;

		}
	}
	.search-box {
	    width: 95%;
	    margin: 0 auto;
	    float:left;
	}

	.search-input {
	    width: 85%;
	}

	.search-btn {
	    width: 7%;
	    min-width: 25px;
	    background-repeat: no-repeat;
	    background-position: center top;
	}
}

.responsive-bg {
    height: 300px;
}

.green-post-box {
    top: 60px;
}