/* line 1, ../sass/phone.scss */
.desktop {
  display: none;
}

/* line 5, ../sass/phone.scss */
.tablet {
  display: none;
}

/* line 9, ../sass/phone.scss */
.phone {
  display: block;
}

/* line 13, ../sass/phone.scss */
.responsive-bg {
  height: 250px;
}

/* line 17, ../sass/phone.scss */
.green-post-box {
  top: 10px;
}

/* line 21, ../sass/phone.scss */
.drop-down-mobile {
  display: none;
}
